.icon-postman {
	width: 48px;
	height: 55px;
}

.icon-java {
	width: 60px;
	height: 80px;
}

.icon-html {
	width: 48px;
	height: 50px;
}

.icon-css {
	width: 60px;
	height: 55px;
}

.icon-selenium {
	width: 48px;
	height: 55px;
}

.icon-jira {
	width: 48px;
	height: 30px;
}

.icon-python {
	width: 48px;
	height: 50px;
}

.icon-robotframework {
	width: 45px;
	height: 40px;
}

.icon-testng {
	width: 100px;
	height: 100px;
}

.icon-jenkins {
	width: 90px;
	height: 55px;
}

.icon-git {
	width: 80px;
	height: 45px;
}

.icon-docker {
	width: 80px;
	height: 80px;
}

.icon-kube {
	width: 80px;
	height: 80px;
}




